:root {
  --yellow: #e2dc84;
}
@font-face {
  font-family: Dot Matrix Regular;
  src: url("/fonts/Dot Matrix Regular.ttf") format("truetype");
}
table {
  width: 800px;
  overflow: none;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #000;
  border-left: 40px #000 solid;
  border-right: 40px #000 solid;
  border-bottom: 20px #000 solid;
  table-layout: fixed;
}
thead {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
thead th {
  padding: 20px 0px;
  border-bottom: 1px solid #fff;
}
tbody {
  font-family: Dot Matrix Regular;
  font-size: 30px;
  line-height: 30px;
  width: 100%;
  -webkit-font-smoothing: none;
  color: var(--yellow);
}
tbody tr {
  background-color: #231e0c;
}
tbody tr td {
  padding: 0px;
  vertical-align: top;
  max-width: 480px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: var(--yellow);
}
a:hover {
  color: #fff;
}
.text-end {
  text-align: right;
}
.text-start {
  text-align: left;
}
